%section#sidebar
  = render partial: "layouts/sidebar"
%p.projectHomeBlurb You can view current/completed projects, or start a new one.
%div.projectHomeLinks
  = link_to "Current", projects_current_path
  = link_to "Completed", projects_completed_path
  = link_to "Create New", projects_new_path
