/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation

 *= require_tree .
 */

/*---------------------Global Changes--------------------------*/

p{
  color: white;
}

form{
  width: 250px;
}

/*---------------------------Devise-----------------------------*/

.customDevise{
  background-color: #888;
  width: 300px;
  margin-top: 100px;
  margin-left: 250px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.customDevise>h2{color: white;}

.customDeviseEdit{
  background-color: #888;
  width: 300px;
  margin-top: 5px;
  margin-left: 250px;
  border-radius: 10px;
  padding-left: 25px;
  padding-bottom: 5px;
}
.customDeviseEdit>h2{color: white;}

/*-------------------------Nav Bar------------------------------*/

.navLoggedInAs{
  color: grey;
  margin-top: 20px;
  font-size: 14px;
}

/*------------------------Footer Bar--------------------------*/

#footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 25px;
  background-color: #333333;
  z-index: 2;
}

.footerBlurbLeft{
  color: white;
  position: absolute;
  font-size: 12px;
}

.footerBlurbRight{
  color: white;
  position: absolute;
  right:0;
  font-size: 12px;
}

/*------------------------Sidebar------------------------------*/

.sidebar{
  background-color: #888;
  width: 200px;
  height: 100%;
  top: 47px;
  position: fixed;
  padding-left: 20px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-top: 5px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1;
}

.sidebarItem{
  background-color: white;

  border-radius: 15px;
  border-color: #333;
  border-style: solid;
  border-width: 3px;
  margin-top: 15px;
}
.sidebarItem>h4{
  color:black;
  font-size: 24px;
  text-align: center;
}
.sidebarItem>p{
  color:black;
  font-size: 16px;
  text-align: center;
}
.sidebarItem>.link{
  display: inline;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
}
.sidebarCreateNew{
  position: fixed;
  bottom: 25px;
  height: 30px;
  font-size: 30px;
  padding-bottom: 10px;
  background-color: #888;

}
.sidebarCreateNew>a{color: white;}

/*-------------------------Landing Page-------------------------*/

body.landing{
  background-image: url('manbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(168,201,255);
}

.landingTitle{
  color: white;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 130px;
  margin-left: 200px;
  margin-top: 40px;
}

.landingBlurb{
  margin-top: 350px;
  margin-left: 400px;
}

/*------------------------Projects Home--------------------------*/

.projectHomeBlurb{
  margin-left: 350px;
  margin-top: 150px;
}

.projectHomeLinks{
  margin-top: 330px;
  margin-left: 300px;
  font-size: 30px;
}
.projectHomeLinks>a{padding-left: 15px; color: white;}
/*------------------------New Projects----------------------------*/

.projectNew{
  background-color: #888;
  width: 300px;
  margin-top: 100px;
  margin-left: 400px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.projectNew>h2{color: white;}


/*-----------------------Show Project--------------------------*/

.projectShow{
  background-color: #888;
  width: 550px;
  margin-top: 55px;
  margin-left: 255px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

.projectShowStatus{
}

.projectShowLinks{
  padding-top: 5px;
  padding-bottom: 20px;
}
.projectShowLinks>.link{
  display: inline;
  padding-right: 15px;
}
.projectShowLinks>.link>a{color: #333;}

/*---------------------Current Projects------------------------*/

.currentProjectsListing{
  background-color: #888;
  width: 650px;
  margin-top: 75px;
  margin-left: 150px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-top: 5px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

/*---------------------Completed Projects-----------------------*/

.completedProjectsListing{
  background-color: #888;
  width: 650px;
  margin-top: 75px;
  margin-left: 150px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-top: 5px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

/*---------------------Edit Projects-----------------------*/

.projectEdit{
  background-color: #888;
  width: 350px;
  margin-top: 75px;
  margin-left: 350px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-top: 5px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}